# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*private.properties
*private*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Backend/UtilsDB/build/
/Backend/UtilsReportes/build/
/Backend/UtilsDB/dist/
/Backend/UtilsReportes/dist/
/Backend/UtilsCorreo/build/
/Backend/UtilsCorreo/dist/
/Backend/ProductosModel/build/
/Backend/ProductosModel/dist/
/Backend/ProductosController/build/
/Backend/ProductosController/dist/
/Backend/PersonasModel/build/
/Backend/PersonasModel/dist/
/Backend/PersonasController/build/
/Backend/PersonasController/dist/
/Backend/CuentasModel/build/
/Backend/CuentasModel/dist/
/Backend/CuentasController/build/
/Backend/DocumentosModel/build/
/Backend/DocumentosModel/dist/
/Backend/DocumentosController/build/
/Backend/DocumentosController/dist/
/Backend/CuentasController/dist/
/Backend/BBBWebService/build/
/Backend/BBBWebService/dist/
/FrontEnd/.vs/
/FrontEnd/DxnSisventas/obj/Debug/
/FrontEnd/DxnSisventas/bin/
/FrontEnd/DxnSisventas/obj/Debug/BBBSistema.csproj.FileListAbsolute.txt
/FrontEnd/.vs/BBBSisFrontEnd/v17/.suo













*.cache
/FrontEnd/.vs
*.wsdl
FrontEnd/.vs/BBBSisFrontEnd/v17/.suo
FrontEnd/.vs/BBBSisFrontEnd/v17/DocumentLayout.json
