<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1" />
	</system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="CuentasAPIPortBinding" receiveTimeout="00:01:00"
     sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
    <binding name="ProductosAPIPortBinding" receiveTimeout="00:01:00"
     sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
    <binding name="PersonasAPIPortBinding" receiveTimeout="00:01:00"
     sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
    <binding name="DocumentosAPIPortBinding" receiveTimeout="00:01:00"
     sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
    <binding name="ReportesAPIPortBinding" receiveTimeout="00:01:00"
     sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
    <binding name="CorreosAPIPortBinding" receiveTimeout="00:01:00"
     sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:8080/BBBWebService/CorreosAPI"
    binding="basicHttpBinding" bindingConfiguration="CorreosAPIPortBinding"
    contract="BBBWebService.CorreosAPI" name="CorreosAPIPort" />
   <endpoint address="http://localhost:8080/BBBWebService/ReportesAPI"
    binding="basicHttpBinding" bindingConfiguration="ReportesAPIPortBinding"
    contract="BBBWebService.ReportesAPI" name="ReportesAPIPort" />
   <endpoint address="http://localhost:8080/BBBWebService/CuentasAPI"
    binding="basicHttpBinding" bindingConfiguration="CuentasAPIPortBinding"
    contract="BBBWebService.CuentasAPI" name="CuentasAPIPort" />
   <endpoint address="http://localhost:8080/BBBWebService/PersonasAPI"
    binding="basicHttpBinding" bindingConfiguration="PersonasAPIPortBinding"
    contract="BBBWebService.PersonasAPI" name="PersonasAPIPort" />
   <endpoint address="http://localhost:8080/BBBWebService/ProductosAPI"
    binding="basicHttpBinding" bindingConfiguration="ProductosAPIPortBinding"
    contract="BBBWebService.ProductosAPI" name="ProductosAPIPort" />
   <endpoint address="http://localhost:8080/BBBWebService/DocumentosAPI"
    binding="basicHttpBinding" bindingConfiguration="DocumentosAPIPortBinding"
    contract="BBBWebService.DocumentosAPI" name="DocumentosAPIPort" />
  </client>
	</system.serviceModel>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
</configuration>